<div data-segment="configuration">
    <div ng-include="'templates/include.configmenu.html'"></div>
    <div>
        <h3>Departments</h3>
        <hr/>
        <div class="row">
            <div class="col-md-9">
                <h4>Department nd ad</h4>
                <h5>
                    <a href="mailto:sutirtha.marjit@gmail.com">sutirtha.marjit@gmail.com</a>
                </h5>
            </div>

            <div class="col-md-3">
                <div class="btn-group">
                    <a class="btn btn-danger btn-small"><span class="glyphicon glyphicon-trash"></span></a>
                    <a class="btn btn-default btn-small"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            </div>
            <div class="col-md-12">
                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, qu
            </div>
            <div style="clear:both"></div>
            <hr/>
        </div>
    </div>
</div>