<div data-segment="configuration" ng-controller="DepartmentController">
    <div ng-include="'templates/include.configmenu.html'"></div>
    <div>
        <h3>Departments</h3>
        <hr/>
        <div class="row" ng-repeat="department in departmentList">
            <div class="col-md-9">
                <h4>{{department.department_name}}</h4>
                <h5>
                    <a href="mailto:{{department.department_creator}}">{{department.department_creator}}</a>
                </h5>
            </div>

            <div class="col-md-3">
                <div class="btn-group">
                    <a title="Remove {{department.department_name}}" class="btn btn-danger btn-small" ng-click="deleteDepartment($index)"><span class="glyphicon glyphicon-trash"></span> Delete</a>                    
                </div>
            </div>
            <div class="col-md-12">
                {{department.department_desc}}
            </div>
            <div style="clear:both"></div>
            <hr/>
        </div>
    </div>
</div>