<div data-segment="configuration">
    <div ng-include="'templates/include.configmenu.html'"></div>
    <h3>General user log</h3>
    <hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-time"></span> Timestamp</th>
                <th><span class="glyphicon glyphicon-user"></span> User</th>
                <th><span class="glyphicon glyphicon-info-sign"></span> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>faafafa</td>
                <td>faafafa</td>
            </tr>
        </tbody>

    </table>
</div>