<!--LIST OF EMPLOYEES:Start-->
				<div data-segment="list-employee">
				<h3>List of Employee</h3>
				<hr/>
				<table class="table table-striped">
					<thead>						
						<tr>
							<th>id</th><th>Name</th><th>Email</th><th>Date of Birth</th><th>Department</th><th>Gender</th>
						</tr>	
					<thead>
					<tbody>
						<tr>
							<td>79777qw</td><td>Name</td><td>Email</td><td>Date of Birth</td><td>Department</td><td>Gender</td>
						</tr>
						<tr>
							<td>79777qw</td><td>Name</td><td>Email</td><td>Date of Birth</td><td>Department</td><td>Gender</td>
						</tr>
					</tbody>	
				</table>	
				</div>
				<!--LIST OF EMPLOYEES:End-->