<div class="row">
    <h3 class="text-success col-md-3"><span>Settings</span></h3>
    <div class="col-md-9">
        <div class="btn-group" style="margin-top:17px;">
            <a href="#/config-list-of-departments" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> All Departments</a>
            <a href="#/config-add-department" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Enlist new department</a>
            <a href="#/config-user-log" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> General user log</a>
        </div>
    </div>
</div>

<hr/>