<!-- Search result -->
<div data-segment="list-employee" ng-controller="SearchResultController">
    <h3>Advanced search & filter</h3>
    <div>
        <form class="form-inline" ng-submit="processSearch()">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Find</label>
                <div class="input-group">
                    <div class="input-group-addon">Find</div>
                    <input type="text" ng-model="searchText" class="form-control" id="exampleInputAmount" placeholder="Search text">

                </div>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
    </div>
    <hr/>

    <div>
        <div ng-repeat="emp in employeeList">
         <h3>{{emp.name}}</h3>
         <span>{{emp.department}}</span>
         <h4><a href="mailto:{{emp.email}}">{{emp.email}}</a></h4>

         <hr/>
        </div>      
    </div>    

</div>