<!-- Search result -->
<div data-segment="list-employee">
    <h3>Advanced search & filter</h3>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Find</label>
                <div class="input-group">
                    <div class="input-group-addon">Find</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search text">

                </div>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
    </div>
</div>